* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

body {
  margin: 0;
  background-color: #f3f3f3;
  background: url(../img/background.jpg) center no-repeat;
  background-size: cover;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

.image-header {
}

.title-section {
  position: relative;
  height: auto;
  width: auto;
  margin: 30px;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #03A678;
  font-weight: 500;
  text-align: left;
}

.company-name {
  font-size: 60px;
  padding-top: 1px;
}

.company-slogan {
  font-size: 21px;
  padding-top: 24px;
}


.sign-up-section {
  background-size: cover;
  width: 100%;
  background-color: #37474f;
}


.sign-up-content {
  margin-left: 20%;
  padding: 24px;
  text-align: left;
  color: white;
  display: inline-flex;
}

.sign-up-prompt {
  margin-left: 10%;
}

.about-us-section {
	max-width: 50%;
}

.about-us-title {
	padding-bottom: 20px;
}

.about-us-description p{
	font-size: 16px;
}

.email-input {
	display: inline-block;
}

.thank-message p{
	font-size: 16px;
}

.inquire-button {
	margin-left: 20px;
}

/**** Mobile layout ****/
@media (max-width: 900px) {

  .sign-up-content {
    margin-left: 10%;
    padding: 24px;
    text-align: left;
    color: white;
    display: inline-block;
  }

  .sign-up-prompt {
    margin-left: 0%;
  }

  ::-webkit-scrollbar {
      -webkit-appearance: none;
  }

  ::-webkit-scrollbar:vertical {
      width: 12px;
  }

  ::-webkit-scrollbar:horizontal {
      height: 12px;
  }

  ::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, .5);
      border-radius: 10px;
      border: 2px solid #ffffff;
  }

  ::-webkit-scrollbar-track {
      border-radius: 10px;  
      background-color: #ffffff; 
  }

}